body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 1;
}

.container {
    max-width: 1024px;
    margin:100,100,100,100;
}
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: rgb(82, 82, 82);
    border-left: 1px solid rgb(82, 82, 82);
    padding: 10px;
    letter-spacing: 1px;
}

header {
text-align: center;
background-color: transparent;
color: black;
border-radius: 0;
border-bottom: 10px solid black;
padding: 60px;
}

.description {
white-space: pre-wrap;
font-weight: 600;
}

.time-block {
text-align: center;
border-radius: 15px;
}

.row {
white-space: pre-wrap;
height: 80px;
border-top: 1px solid white;
}

.hour {
    background-color: #ffeaa7;
    color: rgb(82, 82, 82);
    padding-top: 27px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 500;
}

.past {
    background-color: #dfe6e9;
    border-radius: 15px;
    color: white;
}

.present {
background-color: #ff6961;
color: white;
border-radius: 15px;
}

.future {
background-color: #77dd77;
color: white;
border-radius: 15px;
}

.saveBtn {
border-left: 1px solid black;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #06aed5;
color: white;
}

.saveBtn i:hover {
font-size: 30px;
transition: all 0.3s ease-in-out;
}

.white-text {
    color:white;
}